.products{
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.row{
  margin: 300px 0;
}
img{
    margin: 20px;
}
.product > mat-card > img{
    object-fit: contain;
    height: 200px;
    width: 200px;
}
.product > mat-card > img:hover{
  cursor: pointer;
}
.product > mat-card{
    display: flex;
    flex-direction: column;
    min-height: 350px;
    width: 300px;
    margin: 20px;
    background-color: #e9ebec;
    border: .5px solid rgb(170, 166, 166);
    border-radius: 5px;
    align-items: center;
}
#defaultbtn{
  /* background-color: #232f3e; */
  color: #e9ebec;
  font-weight: 800;
  padding: 3px 0 0 2px;
  border: none;
  border-radius: 10px;
  margin-left: 165px;
}
#defaultbtn:hover{
  cursor: pointer;
  color: #7bd651;
}
/* .product > mat-card > button{
    margin-top: 10px;
    padding: 7px;
    color: bisque;
    background-color: #232f3e;
    border: none;
    border-radius: 5px;
    /* border-color: #a88134 #9c7e31 #846a29; 
} */
.button {
  border-radius: 4px;
  background-color: #232f3e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#addtocartbtn span:after{
  content: '\002b';
}
#wishlistbtn span:after{
  content: '\2764';
}

.button span:after {
  /* content: '\00bb'; */
  /* content: '\002b'; */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover{
  cursor: pointer;
}
.button:hover span {
  padding-right: 25px;
  color: #7bd651;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.range{
  display: flex;
  flex-direction: column;
}
.range_input{
  border: 1px solid #232f3e;
  margin: 0 10px;
  border-radius: 5px;
  width: 70%;
}
.search_input{
  border: 1px solid #232f3e;
  border-radius: 5px;
  width: 70%;
}
.search_input:active{
  border: 1px solid #7bd651;
}
.viewall:hover{
  cursor: pointer;
  color: #232f3e;
  font-weight: 700;
}
.mat-form-field {
  margin-right: 8px;
}
.mat-icon{
  font-size: 18px;
  margin:-2px;
  padding: 0;
  color: grey;
}
.rating:hover > .mat-icon, .rating:hover{
  cursor: pointer;
  color: gold;
}
.card{
  width: 19%;
  height: 20%;
  /* opacity: 80%; */
  padding:0;
  /* border: .5px solid rgb(170, 166, 166); */
  border: .5px solid #232f3e;
  margin: 18px 0 0 30px;
}
.card-header{
  background-color: #232f3e;
  color: #FFFFFF;
}
img{
  height: min-content;
  width: min-content;
}
img:hover{
  cursor: pointer;
}
.group-selection{
  display: flex;
  flex-direction: column;
}
.clearcategory:hover{
  cursor: pointer;
  color: #7bd651;
}
.category_input:hover{
  cursor: pointer;
}
/* ======================= mat-card ========================== */
mat-card > a:hover{
  cursor: pointer;
}
