<div class="products">
  <table>
    <tr>
      <th>title</th>
      <th>Category</th>
      <th>price</th>
      <th>Controls</th>
    </tr>
    <tr class="product" *ngFor="let item of items">
      <td>{{item.title}}</td>
      <td>{{item.category}}</td>
      <td>{{item.price}}</td>
      <td>
        <button class="button" id="updatebtn"><span>Update</span></button>
        <button class="button" id="deletebtn" (click)="onDelete(item)"><span>Delete</span></button>
      </td>
    </tr>
  </table>
</div>