<app-header></app-header>
<div class="container">
    <div class="row" *ngFor="let item of products">
        <ng-container *ngIf="item.id==bindId">
            <div class="col-5">
                <img class="product-img" src="{{item.image}}" alt="...">
            </div>
            <div class="flex col">
                <table>
                    <tr>
                        <th>
                            <p class="card-title">{{item.title}}</p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div>Price: ₹ <strong>{{item.price}}</strong></div><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                {{item.desc}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="rating flex">
                                Rating:&nbsp;
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star_border</mat-icon>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button RouterLink="/" class="button">Wishlist</button>
                            <button RouterLink="/" class="button">Add to Cart</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br><strong>Services:</strong>
                            <br><a href="#">Usually delivered in 3 days</a><br>
                            <a href="#">30 Day Return Policy</a>
                            <br>
                            <a href="#">Cash on Delivery available</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br><strong>Rating & Reviews:</strong>
                            <br>No Reviews yet.
                        </td>
                    </tr>
                </table>
            </div>
        </ng-container>
    </div>
</div>
<app-footer></app-footer>