.login{
    /* background-color: aqua; */
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/007/450/non_2x/online-shopping-smartphone-and-cart-with-products-with-blue-background-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.card{
    background: transparent;
    display: flex;
    flex-direction: row;
    height: 75%;
    padding: 50px 50px;
    border: none;
}
/* .inner{
    height: 70%;
    width: 75%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 10px 10px 68px -6px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
} */

.photo{
    width: 50%;
    height: 100%;
    padding: 0 50px;
    border: 1px solid black;
    border-radius: 10px;
    /* border-right: none; */
}

.photo img{
    width: 100%;
    height: 100%;
}

mat-icon{
    color: #7bd651;
    margin: 10px 20px 0 0;
}

.userform{
    display: flex;
    flex-direction: column;
    background: #5c656e;
    padding: 50px;
    width: 40%;
    /* height: 100%; */
    border: 1px solid black;
    border-radius: 10px;
    /* border-left: none; */
}
.row{
    display: flex;
    flex-direction: row;
}

.userform h1{
    color: #fff;
    /* padding: 5px 0; */
    /* margin: 25px 10px; */
    font-weight: 700;
}

.userform > mat-icon{
    /* position: absolute; */
    margin: 25px 10px;
    color: #6C63FF;
}

input{
    width: 70%;
    height: 2em;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px 0;
    padding: 0 10px;
}

input [type=text], select{
    width: 70%;
    height: 2em;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px 0;
    padding: 0 10px;
}
.button {
    border-radius: 4px;
    background-color: #232f3e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00BB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
    color: #7bd651;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
/* .safe{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
} */

/* .line{
    height: 6px;
    border-radius: 20px;
    width: 20%;
    background: #fff;
    margin: 5px;
} */

/* span:nth-child(2){
    background-color: #fffc00;
}
span:nth-child(3){
    background-color: #fffc00;
} */

/* .actionbtn{
    width: 100%;
    display: flex;
    margin: 30px 0;
}

.btn{
    border: 1px solid #fff;
    padding: 10px;
    background: transparent;
    border-radius: 20px;
    width: 50%;
    margin: 0 80px;
    cursor: pointer;
    font-size: 16px;
}

.p{
    border: none;
    background: linear-gradient(45deg, rgba(222, 197, 51, 1) 24%,rgba(255, 107, 0, 1) 100%);
}

@media(max-width: 665px){
    .photo{
        display: none;
    }
    .userform{
        width: 100%;
        border-radius: 10px;
    }
}

@media screen and (max-width: 990px) and (min-width: 665px) {
    .actionbtn{
        margin: 5px;
        display: block;
        width: 100%;

    }
    .btn{
        width: 100%;
        margin: 5px;
        padding: 5px;
    }
} */