.checkout{
    background:none;
    display: flex;
    /* margin: 20px; */
    width: 100%;
    /* min-height: 400px; */
    
 
}

h1{
    font-weight: 500;
    display: inline;
}
.checkout_left{
    margin: 20px;
    flex: 1;
}
.checkout_empty{
    margin: 20px 20px 400px 20px ;
}
.checkout_right{
justify-content: flex-end;
margin-left: 20px;

}