.banner{
    width: 100%;
    height: 70%;
    margin-bottom: -400px;
    /* position: fixed; */
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: -1;
    opacity: .8;
}
.visibility_icon{
    position:absolute;
    right: 10px;
    top: auto;
    z-index: 2;
}
.visibility_icon:hover{
    cursor: pointer;
    color:#7bd651;
}