.vertical-menu {
    width: 200px;
    margin: 50px;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #232f3e;
    color: white;
  }
  .btn{
    margin: 10px 0;
}
label {
    margin: 0;
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input, textarea {
    margin: 10px 0;
    width: 500px;
}
#price{
    width: 150px;
}