<div class="checkout_products">
    <p class="price">Price</p>
    <div class="checkout_product" *ngFor="let product of checkout_products">
        <img src="{{product.image}}" alt="" class="checkout_product_img">
        <div class="checkout_product_info">

            <p class="checkout_product_title">
                {{product.title}}
            </p>
            <p class="checkout_product_in_stock">Available</p>
            <div class="checkout_options">
                <!-- <div class="checkout_dropdown">
                </div> -->
                <!-- <a (click)="removeItem(product)"> Delete</a> -->
                <button (click)="removeItem(product)"><span>Delete</span></button>
                <button (click)="addToWishlist(product)"><span>Move to wishlist</span></button>
            </div>
        </div>
        <div class="checkout_products_price">
            <p> <strong>₹{{product.price}}</strong></p>
            <div class="quantity">
                <span><mat-icon (click)="IncQuantity(product, checkout_products)">add</mat-icon></span>
                <span>&nbsp;x {{product.quantity}}</span>
                <span><mat-icon (click)="DcrQuantity(product, checkout_products)">remove</mat-icon></span>
            </div>
        </div>

    </div>
    <div class="checkout_products_subtotal"><br>
        <p>Subtotal ({{shopping_cart_service.getCartLength()}} items):
            <strong>₹{{shopping_cart_service.getTotal()}}</strong>
        </p>

    </div>
    
    <div class="subtotal" *ngIf="shopping_cart_service.getCartLength() > 0">
        <p>Subtotal: ({{shopping_cart_service.getCartLength()}} items)
            <strong>₹{{shopping_cart_service.getTotal()}}</strong>
        </p>
        <button routerLink="/complete-checkout" (click)="OrderItems()">checkout</button>
    </div>
</div>